# Ignore output of scraper
data.sqlite
vendor/*

# Dev tools
/.aider*
/.idea
/.vscode

# python env
/venv
.venv

# Temp and log

!/tmp/.keep
/log
!/log/.keep

# Used by direnv and dotenv library to load environment variables.
.env*

